<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="menu">

<!-- begin #content -->
	<div layout:fragment="content" id="content" class="content">
		<script>
			$(document).ready(function($) {
				$('#search').multiselect({
					search: {
						left: '<input type="text" name="q" class="form-control" placeholder="Procurar..." />',
						right: '<input type="text" name="q" class="form-control" placeholder="Procurar..." />',
					}
				});
			});
		</script>
		
		<div class="panel panel-inverse overflow-hidden">
			<div class="modal-header">
				<h4 class="modal-title">Configurar Instalação</h4>
			</div>
			<form id="formEditarInstalacao" th:object="${instalacao}" th:action="@{/configurarInstalacao}" method="post">
				<div class="modal-body col-md-12">
					<div class="col-md-12 col-sm-12">
						<div class="form-group col-md-6 col-sm-6">
							<label class="control-label pull-left">Estabelecimento:</label>
							<div class="col-md-12 col-sm-12">
								<input type="text" th:value="${instalacao.estabelecimento.nomeFantasia}" th:field="*{estabelecimento.nomeFantasia}" id="estabelecimento" name="estabelecimento" class="form-control col-md-4"/>
							</div>						
						</div>
					</div>
					
					<div class="col-md-12 col-sm-12">
						<div class="col-xs-5">
							<h5 style="background-color: #242A30; text-align: center; color: #fff; height: 30px; padding-top: 2%;">Ambientes(s)</h5>
							<select id="search" name="search" class="form-control" size="8" multiple="multiple"></select>
						</div>
						
						<div class="col-xs-2 m-t-40">
							<button type="button" id="search_rightAll" class="btn btn-inverse btn-block"><i class="glyphicon glyphicon-forward"></i></button>
							<button type="button" id="search_rightSelected" class="btn btn-inverse btn-block"><i class="glyphicon glyphicon-chevron-right"></i></button>
							<button type="button" id="search_leftSelected" class="btn btn-inverse btn-block"><i class="glyphicon glyphicon-chevron-left"></i></button>
							<button type="button" id="search_leftAll" class="btn btn-inverse btn-block"><i class="glyphicon glyphicon-backward"></i></button>
						</div>
						
						<div class="col-xs-5">
							<h5 style="background-color: #242A30; text-align: center; color: #fff; height: 30px; padding-top: 2%;">Selecionado(s)</h5>
							<select name="ambientesSelecionados" id="search_to" class="form-control" size="8" multiple="multiple">
								<option th:each="i,itrStat : ${instalacao.ambiente.ambientesFilho}" th:value="${i.nome}" th:text="${i.nome}"></option>
							</select>
						</div>
				  </div>
				</div>
				
				<div class="col-md-12 col-sm-12">
					<div class="form-group col-sm-12">
						<label class="control-label pull-left">Data da Execução:</label>						
						<div class="col-md-4">
							<input type="text" th:field="*{dataInstalacao}" id="dtInstalacao" name="dtInstalacao" class="form-control col-md-4"/>
						</div>						
					</div>
				</div>
				
				<div class="modal-footer">
					<div class="col-md-12">						
						<button type="submit" id="btnSalvar" class="btn btn-sm btn-inverse"> Salvar</button>
						<a th:href="@{'/cadastrarAmbienteInstalacao/{nomeFantasia}' (nomeFantasia=${instalacao.estabelecimento.nomeFantasia})}" class="btn btn-sm btn-inverse">Cadastrar Ambiente</a>											
					</div>
				</div>
			</form>
		</div>		
	</div>
<!-- end #content -->

</html>