<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="menu">

<!-- begin #content -->
	<div layout:fragment="content" id="content" class="content">
		<script>
			$(document).ready(function(){				
				$("#id").each(function(){
					var id = $(this).text();					
					var status = "#agendar" + id;
					var agendamento = "#agendamento" + id;
					var cancelar = "#cancelamento" + id;					
					var st = $(status).text();
					if(st == "AGENDADA"){
						$(agendamento).attr("href", "/configurarInstalacao/" + $("#linkNomeFantasia").text());
						$(agendamento).text("Configurar Instalacao");	
					}
					
					if(st == "AGENDADA"){
						$(cancelar).attr("href", "/cancelarAgendamento/" + $("#linkNomeFantasia").text());
						$(cancelar).text("Cancelar Agendamento");	
					}
					
					if(st == "AGUARDANDOCALIBRAGEM"){
						$(agendamento).attr("href", "/calibracaoExecutada/" + $("#linkNomeFantasia").text());
						$(agendamento).text("Calibrar");	
					}
									
					if(st == "AGUARDANDOCALIBRAGEM"){
						$(cancelar).attr("href", "/cancelarCalibracao/" + $("#linkNomeFantasia").text());
						$(cancelar).text("Cancelar");	
					}
					
					if(st == "EMVALIDAÇÃO"){
						$(agendamento).attr("href", "/concluirValidacao/" + $("#linkNomeFantasia").text());
						$(agendamento).text("Validar");	
					}
									
					if(st == "EMVALIDAÇÃO"){
						$(cancelar).attr("href", "/cancelarValidacao/" + $("#linkNomeFantasia").text());
						$(cancelar).text("Cancelar");	
					}
					
					if(st == "PRONTA"){
						$(agendamento).attr("href", "");
						$(agendamento).text("");	
					}
									
					if(st == "PRONTA"){
						$(cancelar).attr("href", "");
						$(cancelar).text("");	
					}
					//alert(st);					
				});
			});					
		</script>
	
		<div class="row">
		    <div class="col-md-12">
               <div class="panel panel-inverse"> 
				<div class="panel-heading">
                          <h1 class="panel-title text-center f-s-20">Instalação</h1>
                      </div>
                      <div class="panel-body">
					<div>
						<div class="pull-left">
							<a href="/cadastrarInstalacoes" class="btn btn-sm btn-inverse">Cadastrar Nova Instalação  <i class="fa fa-plus"></i></a>
						</div>					
					</div><br /><br />
					<div>
                       <table id="table-instalacao" class="table table-striped table-bordered">
                           <thead>
                               <tr>
                                   <th>Estabelecimento</th>
                                   <th>Status</th>
                                   <th>Data da Instalação</th>
                                   <th>Motivo do Cancelamento</th>
                                   <th>Próximo Passo</th>
                                   <th></th>
                               </tr>
                           </thead>
                           <tbody>
                               <tr th:each="i,itrStat : ${instalacoes}"  th:class="${itrStat.even}? 'even':'odd'">
                                <td hidden="hidden"><a id="id"><span th:text="${i.id}"></span></a></td>
								<td><a id="linkNomeFantasia" href="javascript:;"><span th:text="${i.estabelecimento.nomeFantasia}"></span></a></td>
								<td><a th:id="@{'agendar{id}'(id=${i.id})}" href="javascript:;"><span th:text="${i.status}"></span></a></td>
								<td><a href="javascript:;"><span th:text="${i.dataInstalacao}?${#dates.format(i.dataInstalacao, 'dd-MM-yyyy')}:''"></span></a></td>
								<td><a href="javascript:;"><span th:text="${i.motivoCancelamento}"></span></a></td>								
								<td><a th:id="@{'agendamento{id}'(id=${i.id})}" th:href="@{'/agendarInstalacao/{nomeFantasia}/{id}'(nomeFantasia=${i.estabelecimento.nomeFantasia}, id=${i.id})}">Agendar</a></td>
								<td><a th:id="@{'cancelamento{id}'(id=${i.id})}" href=""></a></td>								
                               </tr>                                    
                           </tbody>
                       </table>
                     </div>
                    </div>
                </div>
		    </div>
		</div>
	</div>
<!-- end #content -->
	
</html>