<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="menu">

<!-- begin #content -->
	<div layout:fragment="content" id="content" class="content">
		
		<div class="row">
		    <div class="col-md-12">
                   <div class="panel panel-inverse"> 
					<div class="panel-heading">
                           <h1 class="panel-title text-center f-s-20">Operadores</h1>
                       </div>
                       <div class="panel-body">
						<div>
							<div class="pull-left">
								<a href="/cadastrarOperador" class="btn btn-sm btn-inverse">Cadastrar Novo  <i class="fa fa-plus"></i></a>
							</div>
														
															
								<!-- #modal-confirm2 -->
								<div class="modal fade" id="modal-confirm2">
									<div class="modal-dialog"  >
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="margin-top: -10px;">×</button>
											</div>
											<div class="modal-body col-md-12">																								
												<div class="col-md-12 col-sm-12">
													<h3 class="text-center">Os dados de acesso foram enviados com sucesso para o email cadastrado!</h3>														
												</div>												
											</div>
											<div class="modal-footer">
												<a href="javascript:;" class="btn btn-sm btn-inverse" data-dismiss="modal" onclick="myCreateFunction()" style="margin-right:45%;">OK</a>												
											</div>
										</div>
									</div>
								</div>
								<!-- end #modal-confirm2 -->
								<!-- #modal-confirm3 -->
								<div class="modal fade" id="modal-confirm3">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close m-b-20" data-dismiss="modal" aria-hidden="true" style="margin-top: -10px;">×</button>
											</div>
											<div class="modal-body col-md-12">																								
												<div class="col-md-12 col-sm-12">
													<h3 class="text-center">Tem certeza que deseja deletar este usuário?</h3>
												</div>												
											</div>
											<div class="modal-footer">
												<a href="javascript:;" id="btnDelteYes" class="btn btn-sm btn-inverse text-center"  data-dismiss="modal">Sim</a>
												<a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal"  style="margin-right:45%;">Não</a>												
											</div>
										</div>
									</div>
								</div>
								<!-- end #modal-confirm3 -->									
							</div>
                            <table id="table-operador" class="table  table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Nome</th>
                                        <th>Email</th>
                                        <th>Tipo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                	<tr th:each="i,itrStat : ${operadores}"  th:class="${itrStat.even}? 'even':'odd'">
                                		<td><a href="javascript:;"><span th:text="${i.nome}"></span></a></td>
                                		<td><a href="javascript:;"><span th:text="${i.email}"></span></a></td>
                                		<td><a href="javascript:;"><span th:text="${i.perfil}"></span></a></td>
                                	</tr>
                                    <tr class="odd" data-id="1">										
										<td><a href="javascript:;" style="margin-right: 10%;"><img class="img-circle" src="assets/img/user-13.jpg" width="75" height="75"></img></a><a href="javascript:;">José Roberto</a></td>				
										<td><a href="javascript:;" style="margin-top:6%;">jose.roberto@fxdata.com.br</a></td>
										<td><a href="javascript:;" style="margin-top: 17%;">Master</a><a href="#" class="btnDelete"><i class="fa fa-trash fa-2x pull-right" style="margin-top: -20%;"></i></a></td>
                                    </tr>
                                    <tr class="even m-t-10" data-id="2">										                                        
                                        <td><a href="javascript:;" style="margin-right: 10%;"><img class="img-circle" src="assets/img/user-10.jpg" width="75" height="75"></img></a><a href="javascript:;">Paulo Simões</a></td>
                                        <td><a href="javascript:;" style="margin-top:6%;">paulo.simoes@fxdata.com.br</a></td>
                                        <td><a href="javascript:;" style="margin-top: 17%;">User</a><a href="#" class="btnDelete"><i class="fa fa-trash fa-2x pull-right" style="margin-top: -20%;"></i></a></td>
                                    </tr>                                    
                                </tbody>
                            </table>
                        </div>
                   </div>
		    </div>
		</div>
	<script>
	/*<![CDATA[*/
		$(document).ready(function() {
			App.init();
			TableManageColReorder.init();
			TableManageButtons.init();
			var btnCust = '<button type="button" class="btn btn-default" title="Add picture tags" ' + 
				'onclick="alert(\'Call your custom code here.\')" style="display: none;">' +
				'<i class="glyphicon glyphicon-tag"></i>' +
				'</button>'; 
			$("#avatar").fileinput({
				overwriteInitial: true,
				maxFileSize: 1500,
				showClose: false,
				showCaption: false,
				browseLabel: '',
				removeLabel: '',
				browseIcon: '<i class="glyphicon glyphicon-folder-open"></i>',
				removeIcon: '<i class="glyphicon glyphicon-remove"></i>',
				removeTitle: 'Cancel or reset changes',
				elErrorContainer: '#kv-avatar-errors',
				msgErrorClass: 'alert alert-block alert-danger',
				defaultPreviewContent: '<img src="/uploads/default_avatar_male.jpg" alt="Your Avatar" style="width:160px">',
				layoutTemplates: {main2: '{preview} ' +  btnCust + ' {remove} {browse}'},
				allowedFileExtensions: ["jpg", "png", "gif"]
			});	
		});
	
	/*============ DELETA CAMPOS NA TABELA =================*/
		$('.btnDelete').on('click', function (e) {
			e.preventDefault();
			var id = $(this).closest('tr').data('id');
			$('#modal-confirm3').data('id', id).modal('show');
		});

		$('#btnDelteYes').click(function () {
			var id = $('#modal-confirm3').data('id');
			$('[data-id=' + id + ']').remove();
			$('#modal-confirm3').modal('hide');
		});
	/*============ INSERE CAMPOS NA TABELA =================*/
		String.prototype.capitalize = function() {
			return this.charAt(0).toUpperCase() + this.slice(1);
		}
		function myCreateFunction() {
			var table = document.getElementById("table-operador");
			var row = table.insertRow(1);
			var cell1 = row.insertCell(0);
			var cell2 = row.insertCell(1);
			var cell3 = row.insertCell(2);			
			cell1.innerHTML = '<a href="javascript:;"><img class="img-circle" src="assets/img/user-15.png" width="75" height="75" style="margin-right: 10%;"></img></a><a href="javascript:;">' + document.getElementById("nome").value + '</a>';
			cell2.innerHTML = '<a href="javascript:;"><p style="margin-top:10%;">' + document.getElementById("email").value + '</p></a>';
			cell3.innerHTML = '<a href="javascript:;"><p style="margin-top:10%;">' + document.getElementById("tipo").value.capitalize(); + '</p></a><a href="#" class="btnDelete"><i class="fa fa-trash fa-2x pull-right"><i/></a>';
		}
	
			/*=============== DADOS DA TABELA=====================*/
		$('#table-operador').DataTable( {
			 language: {
				processing:     "Processando...",
				search:         "<i class='fa fa-search'></i>&nbsp;Procurar:&nbsp;",
				lengthMenu:    "Exibindo _MENU_",
				info:           "Exibindo as linhas _START_ a _END_ de _TOTAL_ ",
				infoEmpty:      "Exibindo a linhas do 0 ao 0 de 0 linhas",
				infoFiltered:   "(filtradas _MAX_  linhas no total)",
				infoPostFix:    "",
				loadingRecords: "Carregando...",
				zeroRecords:    "Nenhum arquivo encontrado",
				emptyTable:     "Não há dados na tabela",
				paginate: {
					first:      "<<",
					previous:   "<",
					next:       ">",
					last:       ">>"
				},
				aria: {
					sortAscending:  ": Ativar para receber os dados em ordem crescente",
					sortDescending: ": Ativar para receber os dados em ordem decrescente"
				}
			},
			autofill: true,
			paging: true,
			deferRender: true,
			scrollCollapse: true,
			scroller: true,
			"scrollY": "250px",
			"scrollX": "100%",			
			dom: 'lB<"clear">frtip',
			colReorder: true,
			buttons: ['excel','pdf','csv']
		} );	
		/*]]>*/	
	</script>
	</div>
	<!-- end #content -->
</html>