<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="menu">

<!-- begin #content -->
	<div layout:fragment="content" id="content" class="content">
	
		<div class="row">
		    <div class="col-md-12">
               <div class="panel panel-inverse"> 
				<div class="panel-heading">
                          <h1 class="panel-title text-center f-s-20">Dispositivo</h1>
                      </div>
                      <div class="panel-body">
					<div>
						<div class="pull-left">
							<a href="/cadastrarPeek" class="btn btn-sm btn-inverse">Cadastrar Peek<i class="fa fa-plus"></i></a>
							<a href="/cadastrarPeekbox" class="btn btn-sm btn-inverse">Cadastrar Peekbox<i class="fa fa-plus"></i></a>
						</div>					
					</div><br /><br />
					<div>
						<table id="table-dispositivo" class="table table-striped table-bordered">
				            <thead>
				                <tr>
				                    <th>Dispositivo</th>
				                    <th>ID</th>
				                    <th>Estabelecimento</th>
				                    <th>VNC</th>
				                    <th>SSH</th>
				                    <th>Webkey</th>
				                    <th>HTTP</th>
				                </tr>
				            </thead>
				            <tbody>
				                <tr th:each="i,itrStat : ${dispositivos}"  th:class="${itrStat.even}? 'even':'odd'">
									<td><a href="javascript:;"><span th:text="${i.tecnologia.nome}"></span></a></td>
									<td><a href="javascript:;"><span></span></a></td>
									<td><a href="javascript:;">Estabelecimento</a></td>
									<td><a href="javascript:;"><span th:text="${i.vnc}"></span></a></td>										
									<td><a href="javascript:;"><span th:text="${i.ssh}"></span></a></td>
									<td><a href="javascript:;"><span th:text="${i.webkey}"></span></a></td>
									<td><a href="javascript:;"><span th:text="${i.http}"></span></a></td>
				                </tr>                                   
				            </tbody>
				        </table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- end #content -->

</html>