<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="menu">

<!-- begin #content -->
	<div layout:fragment="content" id="content" class="content">
<script>
			$(document).ready(function(){				
				$("#id").each(function(){
					var id = $(this).text();					
					var status = "#agendar" + id;
					var agendamento = "#agendamento" + id;	
					var cancelar = "#cancelamento" + id;								
					var st = $(status).text();
					
					if(st == "AGENDADA"){
						$(agendamento).attr("href", "/finalizarManutencao/" + $("#linkNomeFantasia").text() + "/" + id);
						$(agendamento).text("Finalizar Manutenção");	
					}
					
					if(st == "AGENDADA"){
						$(cancelar).attr("href", "/cancelarManutencao/" + $("#linkNomeFantasia").text() + "/" + id);
						$(cancelar).text("Cancelar Agendamento");	
					}

					if(st == "FINALIZADA"){
						$(agendamento).attr("href", "");
						$(agendamento).text("");	
					}
									
					if(st == "FINALIZADA"){// depois que chega nesse status não aparecerá nada em proximo passo
						$(cancelar).attr("href", "");
						$(cancelar).text("");	
					}
					if(st == "CANCELADA"){
						$(agendamento).attr("href", "");
						$(agendamento).text("");	
					}
									
					if(st == "CANCELADA"){
						$(cancelar).attr("href", "");
						$(cancelar).text("");	
					}
					//alert(st);					
				});
			});					
		</script>
		
<div class="row">
		    <div class="col-md-12">
               <div class="panel panel-inverse"> 
				<div class="panel-heading">
                          <h1 class="panel-title text-center f-s-20">Manutenção</h1>
                      </div>
                      <div class="panel-body">
					<div>
						<div class="pull-left">
							<a href="/cadastrarManutencao" class="btn btn-sm btn-inverse">Cadastrar Nova Manutenção  <i class="fa fa-plus"></i></a>
						</div>					
					</div><br /><br />
					<div>
                       <table id="table-instalacao" class="table table-striped table-bordered">
                           <thead>
                               <tr>
                                   <th>Estabelecimento</th>
                                   <th>Status</th>
                                   <th>Data da Manutenção</th>
                                   <th>Execução</th>
                                   <th>Motivo</th>
                                   <th>Próximo Passo</th>
                                   <th></th>
                               </tr>
                           </thead>
                           <tbody>
                               <tr th:each="i,itrStat : ${manutencoes}"  th:class="${itrStat.even}? 'even':'odd'">
                                <td hidden="hidden"><a id="id"><span th:text="${i.id}"></span></a></td>
								<td><a id="linkNomeFantasia" href="javascript:;"><span th:text="${i.estabelecimento.nomeFantasia}"></span></a></td>
								<td><a th:id="@{'agendar{id}'(id=${i.id})}" href="javascript:;"><span th:text="${i.status}"></span></a></td>
								<td><a href="javascript:;"><span th:text="${i.dataManutencao}?${#dates.format(i.dataManutencao, 'dd-MM-yyyy')}:''"></span></a></td>
								<td><a href="javascript:;"><span th:text="${i.execucao}"></span></a></td>
								<td><a href="javascript:;"><span th:text="${i.motivo}"></span></a></td>								
								<td><a th:id="@{'agendamento{id}'(id=${i.id})}" th:href="@{'/agendarManutencao/{nomeFantasia}/{id}'(nomeFantasia=${i.estabelecimento.nomeFantasia}, id=${i.id})}">Agendar</a></td>
								<td><a th:id="@{'cancelamento{id}'(id=${i.id})}" href=""></a></td>								
                               </tr>                                    
                           </tbody>
                       </table>
                     </div>
                    </div>
                </div>
		    </div>
		</div>
	</div>
<!-- end #content -->
</html>