<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="menu">

<!-- begin #content -->
	<div layout:fragment="content" id="content" class="content">
	
		<div class="row">
		    <div class="col-md-12">
               <div class="panel panel-inverse"> 
				<div class="panel-heading">
                          <h1 class="panel-title text-center f-s-20">Instalação</h1>
                      </div>
                      <div class="panel-body">
					<div>
						<div class="pull-left">
							<a href="/cadastrarParceiro" class="btn btn-sm btn-inverse">Cadastrar Nova Instalação  <i class="fa fa-plus"></i></a>
						</div>					
					</div><br /><br />
					<div>
                       <table id="table-instalacao" class="table table-striped table-bordered">
                           <thead>
                               <tr>
                                   <th>Nome</th>
                                   <th>CNPJ</th>                                   
                               </tr>
                           </thead>
                           <tbody>
                               <tr th:each="i,itrStat : ${parceiros}"  th:class="${itrStat.even}? 'even':'odd'">
								<td><a href="javascript:;"><span th:text="${i.nome}"></span></a></td>
								<td><a href="javascript:;"><span></span></a></td>											
                               </tr>                                    
                           </tbody>
                       </table>
                     </div>
                    </div>
                </div>
		    </div>
		</div>
	
	</div>
<!-- end #content -->

</html>