<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="menu">

<!-- begin #content -->
<div layout:fragment="content" id="content" class="content">

	<script>
		$(document).ready(function($) {
			$('#search').multiselect({
				search: {
					left: '<input type="text" name="q" class="form-control" placeholder="Procurar..." />',
					right: '<input type="text" name="q" class="form-control" placeholder="Procurar..." />',
				}
			});
		});
	</script>
	
	<div class="panel panel-inverse overflow-hidden">
		<div class="modal-header">
			<h4 class="modal-title">Configurar Ambiente</h4>
		</div>
		<form id="formAmbienteInstalacao" th:object="${instalacao}" th:action="@{/cadastrarAmbienteInstalacao}" method="post">
			<input type="hidden" th:value="${instalacao.estabelecimento.nomeFantasia}" th:field="*{estabelecimento.nomeFantasia}" id="estabelecimento" name="estabelecimento" class="form-control col-md-8"/>
			<div class="modal-body col-md-12">
				<div class="col-md-12 col-sm-12">			
					<div class="form-group col-md-6 col-sm-6">
						<label class="pull-left">Nome Ambiente:</label>
						<div class="col-md-12 col-sm-12">
							<input class="form-control" type="text" id="nomeAmbienteFilho" name="nomeAmbienteFilho" placeholder="Saída Direita" data-parsley-required="true" />
						</div>
					</div>
				</div>
									
				<div class="col-md-12 col-sm-12">
					<div class="col-xs-5">
						<h5 style="background-color: #242A30; text-align: center; color: #fff; height: 30px; padding-top: 2%;">Dispositivos(s)</h5>
						<select id="search" name="search" class="form-control" size="8" multiple="multiple"></select>
					</div>
						
					<div class="col-xs-2 m-t-40">
						<button type="button" id="search_rightAll" class="btn btn-inverse btn-block"><i class="glyphicon glyphicon-forward"></i></button>
						<button type="button" id="search_rightSelected" class="btn btn-inverse btn-block"><i class="glyphicon glyphicon-chevron-right"></i></button>
						<button type="button" id="search_leftSelected" class="btn btn-inverse btn-block"><i class="glyphicon glyphicon-chevron-left"></i></button>
						<button type="button" id="search_leftAll" class="btn btn-inverse btn-block"><i class="glyphicon glyphicon-backward"></i></button>
					</div>
					
					<div class="col-xs-5">
						<h5 style="background-color: #242A30; text-align: center; color: #fff; height: 30px; padding-top: 2%;">Selecionado(s)</h5>
						<select name="selecionados" id="search_to" class="form-control" size="8" multiple="multiple">
							<option th:each="i,itrStat : ${instalacao.ambiente.dispositivosFilho}" th:value="${i.tecnologia.nome}" th:text="${i.tecnologia.nome}"></option>
						</select>
					</div>
			  </div>
		</div>
		
		<div class="modal-footer">
			<div class="col-md-12">
				<button type="submit" id="btnSalvar" class="btn btn-sm btn-inverse"> Salvar</button>
				<a th:href="@{'/cadastrarPeekAmbiente/{nomeFantasia}' (nomeFantasia=${instalacao.estabelecimento.nomeFantasia})}" class="btn btn-sm btn-inverse">Cadastrar Peek</a>
				<a th:href="@{'/cadastrarPeekboxAmbiente/{nomeFantasia}' (nomeFantasia=${instalacao.estabelecimento.nomeFantasia})}" class="btn btn-sm btn-inverse">Cadastrar Peekbox</a>											
			</div>
		</div>
			
		</form>
	</div>
</div>
<!-- end #content -->

</html>