<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="menu">

<!-- begin #content -->
	<div layout:fragment="content" id="content" class="content">
		
		<style>
			#novas{
				width: 200px;
				height: 200px;
				float: left;
				border: 1px;
				background-color: #348fe2
			}
			
			#agendadas{
				width: 200px;
				height: 200px;
				float: left;
				border: 1px;
				background-color: #348fe2
			}
			
			#calibracao{
				width: 200px;
				height: 200px;
				float: left;
				border: 1px;
				background-color: #348fe2
			}
			
			#validacao{
				width: 200px;
				height: 200px;
				float: left;
				border: 1px;
				background-color: #348fe2
			}
			
			#associar{
				width: 200px;
				height: 200px;
				float: left;
				border: 1px;
				background-color: #348fe2
			}
			
			#liberar{
				width: 200px;
				height: 200px;
				float: left;
				border: 1px;
				background-color: #348fe2
			}
			
			#espaco{
				width: 100%;
				height: 20px;
			}
			
			.tamanho{				
				font-size: 70pt;
				text-align: center;
				margin-top: 20pt				
			}
			
			.fonte{
				font-size: medium;			
			}
		</style>
		
		<script>
			$(document).ready(function(){
				/*
				$("#ad").text("4");
				$("#cal").text("3");
				$("#val").text("8");
				$("#as").text("5");
				$("#lib").text("9");*/
				
				setInterval(function() {
					$.post( "/countInstalacoes/AGUARDANDOAGENDAMENTO", function(data) {					   
					  $("#ns").text(data);
					});
				}, 1000); //cada segundo
				
				setInterval(function() {
					$.post( "/countInstalacoes/AGENDADA", function(data) {					   
					  $("#ad").text(data);
					});
				}, 1000); //cada segundo
				
				setInterval(function() {
					$.post( "/countInstalacoes/AGUARDANDOCALIBRAGEM", function(data) {					   
					  $("#cal").text(data);
					});
				}, 1000); //cada segundo
				
				setInterval(function() {
					$.post( "/countInstalacoes/EMVALIDAÇÃO", function(data) {					   
					  $("#val").text(data);
					});
				}, 1000); //cada segundo
				
				setInterval(function() {
					$.post( "/countInstalacoes/PRONTA", function(data) {					   
					  $("#as").text(data);
					});
				}, 1000); //cada segundo
				
				setInterval(function() {
					$.post( "/countInstalacoes/LIBERADA", function(data) {					   
					  $("#lib").text(data);
					});
				}, 1000); //cada segundo
			});
		</script>
	
		<div class="panel panel-inverse overflow-hidden">
			<div id="topo" class="col-md-12">
				<div class="col-md-12">
					<div class="col-md-4">
						<label class="fonte">Novas Instalações</label>
					</div>
					<div class="col-md-4">
						<label class="fonte">Instalações Agendadas</label>
					</div>
					<div class="col-md-4">
						<label class="fonte">Instalações em Calibração</label>
					</div>
				</div>
				<div class="col-md-12">
					<div class="col-md-4">						
						<div id="novas" class="col-md-4"><p class="tamanho"><a id="ns" th:href="@{'/instalacoesStatus/{status}'(status=AGUARDANDOAGENDAMENTO)}"></a></p></div>
					</div>
					<div class="col-md-4">						
						<div id="agendadas" class="col-md-4"><p class="tamanho"><a id="ad" th:href="@{'/instalacoesStatus/{status}'(status=AGENDADA)}"></a></p></div>
					</div>
					<div class="col-md-4">						
						<div id="calibracao" class="col-md-4"><p class="tamanho"><a id="cal" th:href="@{'/instalacoesStatus/{status}'(status=AGUARDANDOCALIBRAGEM)}"></a></p></div>
					</div>
				</div>
			</div>
			
			<div id="espaco"></div>
			
			<div id="meio" class="col-md-12">
				<div class="col-md-12">
					<div class="col-md-4">
						<label class="fonte">Instalações em Validação</label>
					</div>
					<div class="col-md-4">
						<label class="fonte">Associar Usuários</label>
					</div>
					<div class="col-md-4">
						<label class="fonte">Pronto para Liberar</label>
					</div>
				</div>
				<div class="col-md-12">
					<div class="col-md-4">						
						<div id="validacao" class="col-md-4"><p class="tamanho"><a id="val" th:href="@{'/instalacoesStatus/{status}'(status=EMVALIDAÇÃO)}"></a></p></div>
					</div>
					<div class="col-md-4">						
						<div id="associar" class="col-md-4"><p class="tamanho"><a id="as" th:href="@{'/instalacoesStatus/{status}'(status=PRONTA)}"></a></p></div>
					</div>
					<div class="col-md-4">						
						<div id="liberar" class="col-md-4"><p class="tamanho"><a id="lib" th:href="@{'/instalacoesStatus/{status}'(status=LIBERADA)}"></a></p></div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- end #content -->

</html>