<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="menu">

<!-- begin #content -->
	<div layout:fragment="content" id="content" class="content">
	
	<style>
			#novas{
				width: 200px;
				height: 200px;
				float: left;
				border: 1px;
				background-color: #348fe2
			}
			
			#agendadas{
				width: 200px;
				height: 200px;
				float: left;
				border: 1px;
				background-color: #348fe2
			}
			#finalizada{
				width: 200px;
				height: 200px;
				float: left;
				border: 1px;
				background-color: #348fe2
			}
			
			#cancelada{
				width: 200px;
				height: 200px;
				float: left;
				border: 1px;
				background-color: #348fe2
			}
	#espaco{
				width: 100%;
				height: 20px;
			}
			
			.tamanho{				
				font-size: 70pt;
				text-align: center;
				margin-top: 20pt				
			}
			
			.fonte{
				font-size: medium;			
			}
		</style>
		
			<script>
			$(document).ready(function(){
							
				setInterval(function() {
					$.post( "/countManutencoes/AGUARDANDOAGENDAMENTO", function(data) {					   
					  $("#ns").text(data);
					});
				}, 1000); //cada segundo
				
				setInterval(function() {
					$.post( "/countManutencoes/AGENDADA", function(data) {					   
					  $("#as").text(data);
					});
				}, 1000); //cada segundo

				setInterval(function() {
					$.post( "/countManutencoes/FINALIZADA", function(data) {					   
					  $("#fa").text(data);
					});
				}, 1000); //cada segundo
								
				setInterval(function() {
					$.post( "/countManutencoes/CANCELADA", function(data) {					   
					  $("#ca").text(data);
					});
				}, 1000); //cada segundo
			});
			</script>	
		
		<div class="panel panel-inverse overflow-hidden">
			<div id="topo" class="col-md-12">
				<div class="col-md-12">
					<div class="col-md-6">
						<label class="fonte">Novas Manutenções</label>
					</div>
					<div class="col-md-6">
						<label class="fonte">Manutenções Agendadas</label>
					</div>				
				</div>
				<div class="col-md-12">
					<div class="col-md-6">						
						<div id="novas" class="col-md-6"><p class="tamanho"><a id="ns" th:href="@{'/manutencoesStatus/{status}'(status=AGUARDANDOAGENDAMENTO)}"></a></p></div>
					</div>
					<div class="col-md-6">						
						<div id="agendadas" class="col-md-6"><p class="tamanho"><a id="as" th:href="@{'/manutencoesStatus/{status}'(status=AGENDADA)}"></a></p></div>
					</div>
									
				</div>
			</div>
			
			<div id="espaco"></div>
			
			<div id="meio" class="col-md-12">
				<div class="col-md-12">
						<div class="col-md-6">
						<label class="fonte">Manutenções Finalizadas</label>
					</div>
					<div class="col-md-6">
						<label class="fonte">Manutenções Canceladas</label>
					</div>					
				</div>
				<div class="col-md-12">					
					
					<div class="col-md-6">						
						<div id="finalizada" class="col-md-6"><p class="tamanho"><a id="fa" th:href="@{'/manutencoesStatus/{status}'(status=FINALIZADA)}"></a></p></div>
					</div>	
					<div class="col-md-6">						
						<div id="cancelada" class="col-md-6"><p class="tamanho"><a id="ca" th:href="@{'/manutencoesStatus/{status}'(status=CANCELADA)}"></a></p></div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- end #content -->

</html>